<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MY STUDENT WEBSITE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script defer src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <!--this my navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: darkred;">
        <a class="navbar-brand" href="#">WELCOME </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </nav>
      <!--nav ends here-->

    <div class="container pt-5">
      <ul class="list-group shadow" style="width: 600px; margin: auto;">
        <%let i = 0; pupils.forEach((pupil, i) => { %>
           <a href="<%= i %>" style="text-decoration: none; color: teal;">
                <li class="list-group-item">
                    <div class="row" style="margin: auto;">
                        <div class="col-sm-2">
                            <img src="<%= pupil.image %>" alt="user" class="rounded-circle" style="width: 50px;">
                         </div>
                         <div class="col-sm-8 pt-2">
                            <h4><%= pupil.name %></h4>
                         </div>
                         <div class="col-sm-2 pt-2">
                            <h4><%= pupil.level %></h4>
                         </div>
                    </div>
                </li>
            </a> 
        <% }) %>
      </ul>
    </div>
</body>
</html>

   